body {
  background-color: #134;
  font-family: trebuchet, sans-serif;
}

#gametitle {
  color: #fff;
  text-align: center;
  font-weight: normal;
  color: #dddd00;
}

#gamescreen {
  font-size: 12px;
  margin: 10px auto;
}

.NavInfoWindow {
  border-radius: 4px;
}