doctype html
html(lang="en")
  head
    title Navigator
    link(rel="stylesheet", type="text/css", href="styles/page.css")
    script(type="text/javascript", src="js/lib/crafty.js")
  body
    h1#gametitle Navigator
    #gamescreen
    script(type="text/javascript", src="js/navigator.js")